el-get
ac-comphist.dat
eshell
auto-save-list
.org-id-locations
TAGS
elpa
swank
.DS_Store
/eproject.lst
/anything-c-adaptive-history
/url/cookies
/session.*
/var/pcache/gh/gh-gist-api/mbriggs
/.session
